{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "number-leading-zero": null,
    "no-descending-specificity": null,
    "selector-list-comma-newline-after": null,
    "function-calc-no-unspaced-operator": null,
    "selector-pseudo-class-no-unknown": null
  }
}
